.map {
    margin-top: 60px;
    background: #282828;
    width: 100%;
    padding: 30px 10px;
    @media screen and (min-width: (@max-width-emphasis + 200)) {
        padding-left: 80px;
        padding-right: 80px;
    }
    p {
        font-size: 2.5rem;
    }
}
#can_embed_form {
    .clearfix {
        text-align: center;
    }
    #action_info {
        display: none;
    }
    &.can_float #form_col1 {
        float: none !important;
        display: inline-block;
    }
    #form_col4 {
        display: none;
    }
    .zip_search_results_col, #form_col2 {
        display: none;
    }
    margin-bottom: 20px;

    #new_rsvp {
        #form_col2 {
            display: inline-block;
        }
    }

    .international_link-wrap {
        margin-top: 0px !important;
    }

    .country_drop_wrap {
        overflow: hidden !important;
    }
}
