<div class="map" id="rallies">
    <link href='https://actionnetwork.org/css/style-embed-whitelabel.css' rel='stylesheet' type='text/css' /><script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script><script src='https://actionnetwork.org/widgets/v2/event_campaign/apple-is-right-join-the-nationwide-protest-no-government-backdoor-in-our-iphones?format=js&source=widget'></script><div id='can-event_campaign-area-apple-is-right-join-the-nationwide-protest-no-government-backdoor-in-our-iphones' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
    <p>Want to host your own rally? <strong><a href="https://actionnetwork.org/events/new?event_campaign_id=1230">Click here!</a></strong></p>
</div>
<script type="text/javascript">
document.addEventListener("click", function(e){

    if (e.target.parentNode && e.target.parentNode && e.target.parentNode.parentNode.id == 'map-notice-content' && typeof(e.target.href !== 'undefined'))
        window.open(e.target.href);
});
var mapsInterval = setInterval(function() {

}, 200);
</script>
